

.sidebar {
	float: right;
	width: 100%;
	max-width: 250px;
	padding: 30px;
	margin-bottom: 20px;
	margin-right: 80px;
	background: #fff;
	border: 1px solid #0FE;
  

}

.connect {
	width: 62px;
	height: 62px;
	margin-top: 10px;
	margin-right: 10px;
	text-align: center;
  
}


.social
{
	height: 50px;
    width: 50px;
    
}
